<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="style/style_header_plus_first_section.css">
    <link rel="stylesheet" href="style/style_second_section.css">
    <link rel="stylesheet" href="style/style_third_section.css">
    <link rel="stylesheet" href="style/style_forth_section.css">
    <link rel="stylesheet" href="style/style_footer.css">
    <link rel="apple-touch-icon" sizes="180x180" href="favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon/favicon-16x16.png">
    <link rel="manifest" href="favicon/site.webmanifest">
    <title>NFT</title>
</head>
<body>
<div class="wrap">
  <span><svg xmlns="http://www.w3.org/2000/svg" width="921" height="783" viewBox="0 0 921 783" fill="none">
    <g filter="url(#filter0_f_0_5)">
      <path d="M487 52C487 216.029 354.924 349 192 349C29.076 349 -103 216.029 -103 52C-103 -112.029 29.076 -245 192 -245C354.924 -245 487 -112.029 487 52Z" fill="#54C5AD" fill-opacity="0.95"/>
    </g>
    <defs>
      <filter id="filter0_f_0_5" x="-537" y="-679" width="1458" height="1462" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feBlend mode="normal" in="SourceGraphic" in2="BackgroundImageFix" result="shape"/>
        <feGaussianBlur stdDeviation="217" result="effect1_foregroundBlur_0_5"/>
      </filter>
    </defs>
  </svg></span>
    <header>
        <h1>crypto</h1>
        <nav>
            <ul>
                <li><a href="#">coins</a></li>
                <li><a href="#">featured</a></li>
                <li><a href="#">contact</a></li>
                <li><a href="#">about</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section class="first_section">
            <div>
                <h1>descover and finde rare nfts picturs or games</h1>
                <div class="buttons_holder">
                    <button>sell nfts</button>
                    <button>buy nfts</button>
                </div>
            </div>
            <div>
                <img src="nft_img/big_lion.png" alt="lion">
            </div>
        </section>
        <section class="second_section">
            <div class="first_div_of_second_section">
                <h1>featured on</h1>
                <nav>
                    <ul>
                        <li>
                            <a href="#">binance</a>
                        </li>
                        <li>
                            <a href="#">latoken</a>
                        </li>
                        <li>
                            <a href="#">btc</a>
                        </li>
                        <li>
                            <a href="#">getio</a>
                        </li>
                        <li>
                            <a href="#">ista</a>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="last_div_of_second_section">
                <img src="nft_img/nft_big_monkey.png" alt="monkey">
                <div>
                    <h1>Be one of the first 3 people to buy this
                        <span class="NFT">NFT</span>
                    </h1>
                    <p> and get a 10$ bonus along with the
                        purchase</p>
                    <h2>the price of <br>  this nfts :
                        <svg xmlns="http://www.w3.org/2000/svg" width="81" height="4" viewBox="0 0 81 4" fill="none">
                            <path d="M0.5 1.5L80.5 2.5" stroke="white" stroke-width="2"/>
                        </svg>
                        <span class="high_price">30$</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="45" height="53" viewBox="0 0 45 53" fill="none">
                            <path d="M43.4122 29.536C44.8128 28.2037 44.8682 25.9883 43.536 24.5878L21.8257 1.76417C20.4935 0.363605 18.2781 0.30822 16.8775 1.64047C15.4769 2.97272 15.4216 5.1881 16.7538 6.58867L36.0518 26.8763L15.7642 46.1743C14.3636 47.5065 14.3082 49.7219 15.6405 51.1225C16.9727 52.5231 19.1881 52.5784 20.5887 51.2462L43.4122 29.536ZM0.912527 29.4989L40.9125 30.4989L41.0875 23.5011L1.08747 22.5011L0.912527 29.4989Z" fill="#56CAB1"/>
                        </svg>
                        <span class="sale_price">18$</span></h2>
                    <button class="buy_for_sale_button">buy now</button>
                    <div class="info_holder">
                        <div>
                            <p>Collection</p>
                            <p>450k+</p>
                        </div>
                        <div>
                            <p>Artists</p>
                            <p>320k</p>
                        </div>
                        <div>
                            <p>Community</p>
                            <p>15k</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="third_section">
            <div class="third_section_division_one">
                <h1>
                    carry out the <br> Mission
                    <br> Find yours now!!
                </h1>
                <button>view our nfts</button>
            </div>
            <div class="third_section_division_two">
                <div class="first_card">
                    <img src="nft_img/card_one.png" alt="">
                    <div>
                        <h2>Monkey</h2>
                    </div>
                    <div>
                        <h2>1  <span class="of">OF</span>  100</h2>
                        <div>free</div>
                    </div>
                </div>
                <div class="wrap_card_two">
                    <div class="second_card">
                        <img src="nft_img/card_two.png" alt="">
                        <div>
                            <h2>Monkey</h2>
                        </div>
                        <div>
                            <h2>1  <span class="of">OF</span>  15</h2>
                            <div>free</div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="forth_section">
            <p>testmonial</p>
            <h1>read what our client say</h1>
            <div>
                <div>
                    <img src="person_img/first_person.png" alt="">
                    <h2>ali bouhtak</h2>
                    <p>
                        Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
                    </p>
                </div>
                <div>
                    <img src="person_img/second_person.png" alt="">
                    <h2>reyna skye</h2>
                    <p>
                        Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
                    </p>
                </div>
                <div>
                    <img src="person_img/third_person.png" alt="">
                    <h2>othman ahadoun</h2>
                    <p>
                        Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.
                    </p>
                </div>
            </div>
            <div class="bottom_box_forth_section">
                <h1>
                    be part <br> of <br> the project
                </h1>
                <button>buy now</button>
            </div>
        </section>
    </main>
    <footer>
        <nav>
            <ul>
                <li><s>Crypto</s></li>
            </ul>
            <ul>
                <li>Nfts</li>
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">About</a>
                </li>
                <li>
                    <a href="#">Sell Nfts</a>
                </li>
                <li>
                    <a href="#">Buy Nfts</a>
                </li>
            </ul>
            <ul>
                <li>Market</li>
                <li>
                    <a href="#">Browse Nfts</a>
                </li>
                <li>
                    <a href="#">Buy Nfts</a>
                </li>
                <li>
                    <a href="#">Sell Nfts</a>
                </li>
            </ul>
            <ul>
                <li>contact</li>
                <li>
                    <a href="#">Email</a>
                </li>
                <li>
                    <a href="#">Linkedin</a>
                </li>
                <li>
                    <a href="#">Instagram</a>
                </li>
                <li>
                    <a href="#">Twitter</a>
                </li>
            </ul>
            <ul>
                <li>Join Our Newslatter</li>
                <li>
                    <form action="#" class="news_latter">
                        <label>
                            <input type="text" placeholder="Your Email" class="email">
                        </label>
                        <button class="submit">Submit</button>
                    </form>
                </li>
            </ul>
        </nav>
    </footer>
</div>
</body>
</html>
